.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.gap {
  gap: 30px;
}
.p {
  padding: 20px;
}
